body {
    font:
  italic 1.2rem "Fira Sans",
  serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #0468cc;
    color: #0c0c0c;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #0f0101;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

.project {
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    header, section {
        text-align: center;
        padding: 15px;
    }

    nav ul {
        padding-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}
